@using Microsoft.AspNetCore.Components.Web
@namespace SiteJogos.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="SiteJogos.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/3132/3132772.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/JogoDaMemoria/main.css" />
    <link rel="stylesheet" href="/css/JogoDaMemoria/card.css" />
    <link rel="stylesheet" href="/css/JogoDaMemoria/win.css" /><!--Estilo da tela de vitória-->
    <link rel="stylesheet" href="/css/JogoDaMemoria/responsive.css" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="/js/JogoDaMemoria.js"></script>
    <script>

    </script>
</body>
</html>

<style>

    body {
        padding: 0 !important;
    }
    h4 {
        font-family: 'Zeyada', cursive !important;
    }

    h1 {
        font-family: 'Zeyada', cursive !important;
        font-weight: bold
    }

    .rz-body {
        padding: 0 !important;
    }

    .alinha-centro {
        display: grid;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
</style>