@page "/"


<PageTitle>Historiando</PageTitle>


<RadzenCard Style="height: 100vh; background:black ">
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Orientation="Orientation.Horizontal">
        <RadzenStack>
            
        </RadzenStack>
    </RadzenStack>
</RadzenCard>

<RadzenCard Style="height:100vh " class="alinha-centro">
    <h1>Seja bem-vindo ao Historiando!</h1>
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Orientation="Orientation.Horizontal">
        <RadzenStack>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Bem-vindo à nossa Plataforma de Jogos Educativos de História!
            </RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                É com imensa alegria que recebemos você em nosso universo de conhecimento e diversão!
            </RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Aqui, a História ganha vida de uma forma única e cativante, através de jogos educativos especialmente desenvolvidos para tornar o aprendizado uma experiência empolgante.
            </RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Acreditamos que o aprendizado pode ser uma jornada emocionante e recompensadora, e nossos jogos educativos de História estão aqui para provar isso.
            </RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Prepare-se para embarcar em uma viagem fascinante pelo passado e desvendar os mistérios e lições que ele nos reserva!
            </RadzenText>
        </RadzenStack>
        <RadzenImage Path="/images/historia-pirata.png" Style="height:37rem" />
    </RadzenStack>
</RadzenCard>

<RadzenCard Style="height: 100vh" class="alinha-centro">
    <h1>Nossa Missão</h1>
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Orientation="Orientation.Horizontal">
        <RadzenStack>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Nossa missão é levar você em uma jornada através dos tempos, desvendando os segredos do passado de uma maneira interativa e envolvente.
            </RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Nossos jogos estimulam o pensamento crítico, a solução de problemas e a tomada de decisões, tudo isso enquanto se diverte e aprende de forma dinâmica.
            </RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Além disso, nossa plataforma é voltada para os estudantes da 3ª à 5ª série, porém estudantes de séries posteriores em busca de conhecimento ou até educadores que desejam enriquecer suas aulas com recursos interativos e inovadores conseguirão usufruir e se entreter na plataforma.
            </RadzenText>
        </RadzenStack>
        <RadzenImage Path="/images/crianca-livro.jpg" Style="height:37rem" />
    </RadzenStack>
</RadzenCard>