@page "/Missao"

<PageTitle>Nossa Missão</PageTitle>

<h1>Nossa Missão</h1>

<RadzenCard Style="height:calc(100vh - 11rem) ">
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Orientation="Orientation.Horizontal">
        <RadzenStack>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Nossa missão é levar você em uma jornada através dos tempos, desvendando os segredos do passado de uma maneira interativa e envolvente.
            </RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Nossos jogos estimulam o pensamento crítico, a solução de problemas e a tomada de decisões, tudo isso enquanto se diverte e aprende de forma dinâmica.
            </RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH4">
                Além disso, nossa plataforma é voltada para os estudantes da 3ª à 5ª série, porém estudantes de séries posteriores em busca de conhecimento ou até educadores que desejam enriquecer suas aulas com recursos interativos e inovadores conseguirão usufruir e se entreter na plataforma.
            </RadzenText>
        </RadzenStack>
        <RadzenImage Path="/images/crianca-livro.jpg" Style="height:37rem" />
    </RadzenStack>
</RadzenCard>

@code {

}