@{
    Layout = "";
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Historiando, Onde você cria história com seus jogos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteJogos.Console.styles.css" asp-append-version="true" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/3132/3132772.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/notifications.css">
    <link rel="stylesheet" href="~/lib/iziToast/css/iziToast.min.css" />
    <script src="~/dist/notifications.js"></script>
    <script src="~/lib/iziToast/js/iziToast.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <style>

        .popup {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
        }

        .popup-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
        }

        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 !important;
        }

        .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        h2 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .btn-primary {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .container-parent {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #email, #senha {
            border: none; /* Remove a borda padrão */
            border-bottom: 1px solid #ccc; /* Adiciona um risco na parte inferior */
            background: none; /* Remove o fundo */
            padding: 5px; /* Adiciona um pequeno espaçamento entre o risco e o texto */
            width: 100%;
            outline: none; /* Remove a borda de foco ao clicar no campo */
        }

        #Password {
            border: none; /* Remove a borda padrão */
            border-bottom: 1px solid #ccc; /* Adiciona um risco na parte inferior */
            background: none; /* Remove o fundo */
            padding: 5px; /* Adiciona um pequeno espaçamento entre o risco e o texto */
            width: 100%;
            outline: none; /* Remove a borda de foco ao clicar no campo */
        }

        .link {
            text-align: center; /* Alinha o texto ao centro horizontalmente */
            display: inline-block; /* Permite definir largura e altura no elemento */
            padding: 10px; /* Adiciona espaço em torno do texto para facilitar a interação */
            text-decoration: none; /* Remove a sublinhado padrão de links */
            color: darkblue; /* Define a cor do texto */
            cursor: pointer; /* Altera o cursor para uma mão quando passar o mouse sobre o link */
        }

            .link:hover {
                text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre o link */
            }

        @@media (min-width: 1024px) {
            .painel {
                height: 100% !important;
            }
        }
    </style>

</head>
<body>

    <component type="typeof(SiteJogos.Console.Components.Autenticacao.Login)" render-mode="Server">

        <script src="_framework/blazor.server.js"></script>
        <script src="_content/Radzen.Blazor/Radzen.Blazor.js" asp-append-version="true"></script>

        <script>
            function realizaLogin(args) {
                var retorno = null
                $.ajax({
                    method: 'POST',
                    url: "@(Url.Action("RealizaLogin", "Autenticacao"))",
                    data: args,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        retorno = data;
                    },
                    error: function (e) {
                        return {
                            Sucesso: false,
                            Mensagem: retorno.Mensagem
                        };
                    }
                });
                return retorno;
            }

            function recuperaSenha(model) {
                var retorno = null
                $.ajax({
                    method: 'POST',
                    url: "@(Url.Action("RecuperarSenha", "Autenticacao"))",
                    data: model,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        retorno = data;
                    },
                    error: function (e) {
                        return {
                            Sucesso: false,
                            Mensagem: retorno.Mensagem
                        };
                    }
                });
                return retorno;
            }

            function redirecionaHome() {
                window.location.href = '@(ViewBag.ReturnUrl)';
            }
        </script>
</body>
</html>