@{ 
    Layout = null;
    var nomeJogador = Context.Request.Cookies["NomeJogadorUtilizado"]?.ToString();
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Historiando, Onde você cria história com seus jogos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteJogos.Console.styles.css" asp-append-version="true" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/3132/3132772.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/notifications.css">
    <script src="~/dist/notifications.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body style="height: 100vh; width: 100vw;display: flex; justify-content: center; align-items: center">

    <component type="typeof(SiteJogos.Console.Components.Jogo.Jogador)" render-mode="Server" param-nomeJogador="nomeJogador" />

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js" asp-append-version="true"></script>

    <script>
        function insereJogador(nomeJogador) {
            var retorno = null
            $.ajax({
                method: 'POST',
                url: "@(Url.Action("InsereJogador", "Jogo"))",
                data: { nome: nomeJogador },
                dataType: 'json',
                async: false,
                success: function (data) {
                    window.location.reload();
                },
                error: function (e) {
                    notifica("Erro", "Um erro inesperado aconteceu", "error");
                }
            });
            return retorno;
        }

    </script>
</body>
</html>