@inherits LayoutComponentBase
@inject NavigationManager nav;

<RadzenLayout>

    <RadzenBody>
        <div>
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code
{
    void ClickInicio()
    {
        nav.NavigateTo("/");
    }
}
