<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
    <RadzenLabel><h4>+ Novo Jogo</h4></RadzenLabel>
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/MeusJogos" Text="Meus Jogos" />
        <RadzenBreadCrumbItem Text="Novo Jogo" Icon="add" />
    </RadzenBreadCrumb>
</RadzenStack>