<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
    <RadzenLabel><h4>Meus Jogos</h4></RadzenLabel>
    <RadzenButton Text="+ Novo Jogo" ButtonStyle="ButtonStyle.Secondary" />
</RadzenStack>

@code {

}
