@{
    ViewData["Title"] = "Início";
}

<section>
    <div class="card-home">
        <h1>Seja bem-vindo ao Historiando!</h1>
        <div style="align-items: center; justify-content:center; display:flex">
            <div>
                <h4>
                    Bem-vindo à nossa Plataforma de Jogos Educativos!
                </h4>
                <h4>
                    É com imensa alegria que recebemos você em nosso universo de conhecimento e diversão!
                </h4>
                <h4>
                    Aqui, a História ganha vida de uma forma única e cativante, com nossa criação de jogos personalizados, você pode ser o desenvolvedor e protagonista desse site!
                </h4>
                <h4>
                    Acreditamos que o aprendizado pode ser uma jornada emocionante e recompensadora, e nossos jogos estão aqui para provar isso.
                </h4>
                <h4>
                    Prepare-se para embarcar em uma viagem fascinante de aprendizado e contos!
                </h4>
            </div>
            <img src="/images/historia-pirata.png" style="height:25rem" />
        </div>
    </div>
</section>

<section>
    <div class="card-home">
        <h1>Nossa Missão</h1>
        <div style="align-items: center; justify-content:center; display:flex;">
            <div>
                <h4>
                    Nossa missão é proporcionar uma plataforma onde você é o protagonista, customize nossos jogos do seu próprio jeito!
                </h4>
                <h4>
                    Nossos jogos estimulam o pensamento crítico, a solução de problemas e a tomada de decisões, tudo isso enquanto se diverte e aprende de forma dinâmica.
                </h4>
                <h4>
                    Além disso, nossa plataforma é voltada para aqueles que ainda estão no seu inicio de desenvolvimento, porém com a customização livre, você pode deixar os jogos cada vez mais desafiadores, desafie e se desafie a dar o melhor!
                </h4>
            </div>
            <img src="/images/crianca-livro.jpg" style="height:25rem" />
        </div>
    </div>
</section>

<section>
    <div class="card-home">
        <div style="display:flex; align-items: center;">
            <i class="fa-sharp fa-solid fa-1" style="font-size:2rem">.</i>
            <h1> Como Usar</h1>
        </div>
        <div style="align-items: center; justify-content:center; display:flex;">
            <div>
                <h4>
                    Para começar a criar seus jogos, você deve primeiro <a href="/Login">acessar</a> nosso site.
                </h4>
                <h4>
                    Caso você ainda não tenha uma conta, você pode se cadastrar <a href="/Cadastrar">clicando aqui</a>. Não se preocupe,
                    nosso cadastro é simples e fácil e com apenas alguns
                    poucos passos você já estará conosco!
                </h4>
                <h4>
                    Com a conta em mãos e logado, podemos ir para nossa próxima etapa! Vem com a gente logo abaixo.
                </h4>
            </div>
            <img src="/images/comousar.png" style="height:25rem" />
        </div>
    </div>

</section>

<section>
    <div class="card-home">
        <div style="display:flex; align-items: center;">
            <i class="fa-sharp fa-solid fa-2" style="font-size:2rem">.</i>
        <h1> Criando Jogos</h1>
        </div>
        <div style="align-items: center; justify-content:center; display:flex;">
            <div>
                <h4>
                    Ao estar logado, no topo, irá aparecer a opção <a href="/MeusJogos">meus jogos</a>, que ao clica-la o redirecionará a tela de criação de jogos
                </h4>
                <h4>
                    Na tela é exibida a lista de jogos que você já criou e um botão para novos jogos que quando clicado o levará à uma tela para escolha do jogo e sua criação.
                </h4>
                <h4>
                    Cada jogo é criado de uma forma diferente, mas não se preocupe, todos as criações são intuitivas e fáceis, sendo a única limitação sua imaginação!
                </h4>
            </div>
            <img src="/images/help2.png" style="height:25rem;" />
        </div>
    </div>
</section>

<section>
    <div class="card-home">
        <div style="display:flex; align-items: center;">
            <i class="fa-sharp fa-solid fa-3" style="font-size:2rem">.</i>
        <h1>Usando os Jogos</h1>
        </div>
        <div style="align-items: center; justify-content:center; display:flex;">
            <div>
                <h4>
                    Para nossa etapa final temos os jogos e como usa-los
                </h4>
                <h4>
                    Todos nossos jogos possuem opções do que podem ser feitos com eles. Temos o jogar, editar e excluir que são intuitivos seus usos.
                </h4>
                <h4>
                    Dentre as demais opções temos os rankings que exibem os melhores de cada jogo criado; Gerar link que gera um link para ser enviado aos amigos
                    e um QR Code que pode ser gerado para aqueles que desejam acessar via celular.
                </h4>
            </div>
            <img src="/images/playing.jpg" style="height:25rem" />
        </div>
    </div>
</section>

<section>
    <div class="card-home">
        <div style="display:flex; align-items: center;">
            <i class="fa-sharp fa-solid fa-4" style="font-size:2rem">.</i>
        <h1> Conclusão</h1>
        </div>
        <div style="align-items: center; justify-content:center; display:flex;">
            <div>
                <h4>
                    Nosso site é completamente gratuito e sua única limitação é a imaginação!
                    
                </h4>
                <h4>
                    Se aventure e use de sua criatividade para criar os mais variados templates de jogos e desafie quem quer que seja a superar seus jogos e melhorar!
                </h4>
                <h4>
                    Nos do Historiando desejamos um bom divertimento e que muitas histórias possam surgir aqui!
                </h4>
            </div>
            <img src="/images/conclusion.jpg" style="height:25rem" />
        </div>
    </div>
</section>

<style>

    .card-home {
        max-width: 90%;
        position: relative;
        background: white;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,.03);
        border: 1px solid #e0e0e0;
        padding: 2rem;
        border-radius: 10px
    }

    body, html {
        height: 100%;
        margin: 0;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    @@media only screen and (max-width: 600px) {

    section {
        height:auto;
        padding-bottom:5vh;
    }
    .card-home {
        padding: 1rem;
            max-width: 100% /* Adjust padding for smaller screens */
    }

    .card-home > div {
        flex-direction: column;
        /* Stack the inner div elements on smaller screens */
    }

    img {
        height: auto !important; /* Make sure the image scales with the width on smaller screens */
        max-width: 100% !important; /* Ensure the image doesn't overflow its container */
        margin-top: 1rem !important  ; /* Add some space between the text and image on smaller screens */
    }
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
